svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 150 150')
  style.
    text{font-family: Roboto, sans-serif; font-size: 19px; fill: #333}
    #svg-test-1 #tick rect{fill: none;}
    #svg-test-1 #cross rect{fill: red;}

    #svg-test-1:link #tick rect{fill: greenyellow;}
    #svg-test-1:link #cross rect{fill: none;}

  a#svg-test-1(href='#0')
    rect(width='150', height='150', fill='#4BDBEF')
    text#interactive
      tspan(x='12', y='40.5') INTERACTIVE
    text#offscreen
      tspan(x='148', y='57.5') OFFSCREEN
    g#cross
      rect(x='50.4', y='57', width='62', height='9', transform='rotate(45 50.4 57)')
      rect(x='94.2', y='63.4', width='62', height='9', transform='rotate(135 94.2 63.4)')
    g#tick
      rect(x='48', y='83', width='26', height='9', transform='rotate(45 48 83)')
      rect(x='100', y='68', width='55', height='9', transform='rotate(135 100 68)')
